= form_for @element do |f|
  - if @element.errors.any?
    #error_explanation
      %h2= "#{pluralize(@element.errors.count, "error")} prohibited this element from being saved:"
      %ul
        - @element.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
    
  .field
    = f.label :css_tag
    = f.text_field :css_tag

  .field
    = f.label :style
    = f.select :style_id, options_for_select(select_style_options, :selected => @element[:style_id])
    = link_to 'New Style', '/styles/new'

  .actions
    = f.submit 'Save'
